hmlt,
body,
* {
  box-sizing: border-box;
  font-family: Roboto;
  padding: 0;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

.font-Bellefair {
  font-family: 'Bellefair', serif;
}

.font-Barlow {
  font-family: 'Barlow Condensed', sans-serif;
}
